body {
    background-color:#141414;
    color:lightgray;
    font-size: 110%;
    font-family:arial;
}

h1 {
    color:lightskyblue; 
}

#cattext {
    color:goldenrod;
}

.bolditallic {
    font-weight: bold;
    font-style: italic;
}

.linklist {
    background-color:midnightblue;
    width: 300px;
    height: 200px;
    padding: 2px;
    border: black solid;
    color:deepskyblue;
}

.aligncenter {
    text-align: center;
}

.input {
    color: greenyellow;
}

a {
    font-size: 115%;
}

a:link{
    color:hotpink;
}

a:hover{
    text-decoration: none;
}

a:visited{
    color:purple;
}

a:active {
    color:rebeccapurple;
}