body {
    background-color:#141414;
    color:lightgray;
    font-size: 110%;
    font-family:arial;
}

h1 {
    color:lightskyblue; 
}

#cattext {
    color:goldenrod;
}

#clock {
    font-family: Arial;
    font-size: 500%;
    color: lightskyblue;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 600px;
    margin-top: 10%;
}

.bolditallic {
    font-weight: bold;
    font-style: italic;
}


.mother {
    width: auto;
    text-align: center;
}

.linklist {
    background-color:midnightblue;
    text-align: left;
    width: 250px;
    height: 250px;
    padding: 5px;
    border: black solid;
    color:deepskyblue;
    display: inline-block;
    vertical-align: top;
}

.fontsproject {
    background-color: mediumslateblue;
    text-align: left;
    width: 250px;
    height: 250px;
    padding: 5px;
    border: black solid;
    color: midnightblue;
    display: inline-block;
    vertical-align: top;
}

.fancyproject {
    background-color: blue;
    text-align: left;
    width: 250px;
    height: 250px;
    padding: 5px;
    border: black solid;
    color: orange;
    display: inline-block;
    vertical-align: top;
}

.clock {
    background-color: lightseagreen;
    text-align: left;
    width: 250px;
    height: 200px;
    padding: 5px;
    border: black solid;
    color: darkgreen;
    display: inline-block;
    vertical-align: top;
}

.aligncenter {
    text-align: center;
}

.input {
    color: greenyellow;
}

a {
    font-size: 115%;
}

a:link{
    color:hotpink;
}

a:hover{
    text-decoration: none;
}

a:visited{
    color:purple;
}

a:active {
    color:rebeccapurple;
}